 * comments are used to explain the codes
 * '''this is a multiline comment '''
 * use comments to write why rather than how the code is run

* Python variables and literals

In [ ]:
number = 1
print(number)

1

* Variables - container to hold data
* here number is storing value of 10

 **To change the variable**

In [ ]:
number = 1
print(number)

number =2
print(number)

1
2

In [ ]:
## Assigning multiple values to multiple variables
a,b,c =5,6.2,'hello'
print(a)
print(b)
print(c)

5
6.2
hello

In [ ]:
## To assign the same values to multiple variables
x=y= 6.5
print(x)
print(y)

6.5
6.5

**Rules for naming python variables**
* Python is case sensitve
* Keywords to be avoided like true,false
* do not start with numbers

**Literals**
* Representation of fixed values in a program eg: 12,23.0,c
*  y= 3
* y= variable and 3 is a literal
* different types of literal - numeric,string,boolean,character etc

**Python Numeric Literals**
*  Numeric literal are immutable
* 3 classes - Integer,Float,complex
* complex - a+bj

**Python string Literals**
* Texts wrapped inside quotation marks
* "hello",'hello'

**Python Boolean Literals**
* True or false
*pass=true
* Here true is a boolean assigned to pass

**Character Literals in python**
* Unicode characters enclosed in a quote
* some_character ='s'
# doubt difference between char and string?

**Special literal in python**
* Python contains one special literal **NONE**
* used to specify a null variable

In [ ]:
Value = None
print(Value)

None

**collection literals**


1.   List literal
2.   Tuple
3.   Dictionary
4.   Set

**Python type conversion**
* Process of converting one type of data to another
* 2 types implicit and explicit

In [ ]:
## Implicit
## Python automatically converts one data type to another
## example : Converting Integer to float
integer_num =123
float_num =1.23
new_num = integer_num + float_num
print(new_num)
type(new_num)
## Python promotes conversion of lower data type (integer) to higher data type float to avoid data loss
## doubt : why higher and lower?

124.23

float

* if we add str and int then we get a type error

In [ ]:
## Explicit type conversion
## users convert the data type of an object to required data type.
## use of built in functions eg int(),float(),str()
## Type casting : user casts changes the data type of the object

num_string ='12'
num =23
print('type before casting',type(num_string))
num_string = int(num_string)
type(num_string)

type before casting <class 'str'>

int

**Key Points to Remember**
1. Type Conversion is the conversion of  an object from one data type to another data type.

2. Python avoids the loss of data in Implicit Type Conversion.
3.Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
3. In Type Casting, loss of data may occur as we enforce the object to a specific data type.

** Python Basic input and output**
* print()
* print can accept 5 parameters together

In [ ]:
##print(object= separator= end= file= flush= )
## object = values to be printed
## sep (optional)= allows us to seperate multiple objects inside
## end(optional) - allows us to add specific lines like new line
## file(optional) where the values are printed
##flush(optional) boolean specifying the output is flushed or buffered default =false

SyntaxError: invalid syntax (<ipython-input-4-74c5e0ac0d32>, line 2)

In [ ]:
print('dsfdsf',end='')
print("safdfd")

dsfdsfsafdfd

In [ ]:
print("ffEFEDF", "FSDAfd","dgfDSG",sep=']')

ffEFEDF]FSDAfd]dgfDSG

In [ ]:
## print concatenated
print("ejfefjer"+"fjelf")

ejfefjerfjelf

In [ ]:
x=5
y=4
print(" sfdsf{},fghg{}".format(x,y))

 sfdsf5,fghg4

In [ ]:
num=input('hi:')
## the entered value is a string

hi:l

In [ ]:
## to convert the input
num=int(input('hi'))

hi9

**Replace**
* Replace method replaces a specified phrase with another
* string.replace(oldvalue,newvalue,count)

In [ ]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [ ]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

**python operators**
* operators are special symbols that perform operations on variables and values
* 10//3 floor division ---> 10//3=3
* types of operator
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Bitwise Operators
6. Special Operators

In [ ]:
##assignment operator
x=3
x+=1
x
y=3
x+=x+y
x

11

In [ ]:
##special operators

x is y
x is not y

True

**Python flow control**
* If else statement
* if is a conditional statement

In [ ]:
num=10
if num<0:
  print("yes")## this does not execute

print("no")

no

In [ ]:
## if else statement
## happens when if statement is false and else is executed

In [ ]:
##if and elif statements
## if more than two alternatives

In [ ]:
##Nested if statement
## if inside another if
number=4
if number>=4:
   if number ==4:
    print("kkk")
else:
  print("jjj")

kkk

**python for loop**
* for loop iterastes over sequences
* such as list,strings,tuples

In [ ]:
language =['f','g','j']
for i in language:
  print (i)

f
g
j

In [ ]:
language ='python'
for x in language:
  print(x)

p
y
t
h
o
n

In [ ]:
##python range
values=range(4)
for i in range(4):
  print(i)

  ##if last item in the list loop terminates

0
1
2
3

**python while loop**
* Use it to repeat a block of code until certain condition is met

In [ ]:
q =1
while q <=4: ##condition to stop the loop
  print(q)
  q = q +1 ## increase the number
  ##once false the loop terminates

1
2
3
4

In [ ]:
##infinite while loop
## if condition of while loop is always true the loop runs infinite times
##

**python break and continue**
* break and continue statements are used to alter the flow of loops

In [ ]:
#python break
for i in range(5):
  if i == 3:
    break
  print (i)

0
1
2

In [ ]:
num=1
while num <=10:
  if num==8:
    break
  print(num)
  num += 1

1
2
3
4
5
6
7

In [ ]:
##continue statement
for i in range(6):
  #if i==4:
   # continue
  print(i)

0
1
2
3
4
5

**PYTHON PASS statement**
* A null statement which can be used as a placeholder for future code
* if we dont use the pass statement the code will give an error
* as python interpretor entirely ignores a comment but not a pass statement

In [ ]:
n=11
if n>10:
  pass

print('hello')

hello

**Data types**
* Number data type -stores the numeric values
* int,float(15 decimal points) and complex
*

In [ ]:
num=19
type(num)

int

**Number system**
* binary 0b or 0B
* octal 0o or 0O
* Hexadecimal 0x or 0X

In [ ]:
print(0b1101)
print(0xFB-0b10)

13
249

**Type conversion in python**
* converting one type into other
* eg: print(1+2.0)   ##prints 3.0
* 1 is converted to float so that addition can be done

**Python random module**

In [ ]:
import random
print(random.randrange(10,20))

10

In [ ]:
##to choose random from a list
lista = ['a','b','c','d']
print(random.choice(lista))

d

In [ ]:
random.shuffle(lista)
print(lista)

['b', 'd', 'a', 'c']

In [ ]:
print(random.random())

0.3097072946950622

**Python Mathematics**

In [ ]:
import math
print(math.pi)
print(math.cos(math.pi))
print(math.exp(10))
print(math.log10(1000))
print(math.sinh(1))
print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

**python list**
* Built in data type
* allows to store multiple items in a single variable
* ordered - they maintain the order of elements
* Mutable - items can be changed after creation
* Allow duplicates - they can contain duplicate values

In [ ]:
ages=[12,34,67,98]
print(ages)

[12, 34, 67, 98]

* Accessing list elements
* each list elements are associated with index
* the index always starts with 0

In [ ]:
listr = [343,567,877,12]
print(listr[0])
print(listr[-1]) ## negative indexing helps to access elements at the last
##slicing the list
my_list = [45,6,444,22,77,88,]
print(my_list[2:4]) ## i=4 not included
print(my_list[1:]) ## i=1 is included
print(my_list[:])
##if specified index does not exist in the list the python throws the index error

343
12
[444, 22]
[6, 444, 22, 77, 88]
[45, 6, 444, 22, 77, 88]

In [ ]:
## Add elements to a python list
num_l = [3232,3435,465,565]
num_l.append(444) ## add element at the end of the list
print(num_l)

[3232, 3435, 465, 565, 444]

In [ ]:
##adding elements inthe specified index
num_l.insert(1,0)
print(num_l)

## if u do it

[3232, 0, 3435, 465, 565, 444]

In [ ]:
## Add elements to a list from other iterables
numbers = [22,33,44,55,34,28]
even_numbers =[4,6,8]
numbers.extend(even_numbers)

print(numbers)

[22, 33, 44, 55, 34, 28, 4, 6, 8]

In [ ]:
## change list items
number =[34343,565,78879,3434,22]
print(number)
number[2] =70
print(number)

[34343, 565, 78879, 3434, 22]
[34343, 565, 70, 3434, 22]

In [ ]:
## remove an item from a list
number.remove(70) ## value not iteration
print(number)

[34343, 565, 3434, 22]

In [ ]:
## remove 1 or more elements from the list
delete_num =[334,78687,223,556]
del delete_num[1]
print(delete_num)
del delete_num[1:3]
print(delete_num)

[334, 223, 556]
[334]

In [ ]:
##python list length
len(delete_num)

1

In [ ]:
delete_num =[334,78687,223,556]
for i in delete_num:
  print(i)

334
78687
223
556

In [ ]:
#delete_num.pop(2)
delete_num =[334,78687,223,556]
print(delete_num.sort())

None

In [ ]:
##clear,index,remove,count, reverse,copy

In [ ]:
## list comprehension
numbers=[n**2 for n in range(1,6)]
print(numbers)

## if not using list comprehension
numbers= list(range(1,7)) ##very very imp

square = []
for n in numbers:
 square.append(n**2)
print(square)

[1, 4, 9, 16, 25, 36]

In [ ]:
## check if an exists in the python list
number = [11,22,44,55,66]
print(11 in number)
#Lists are similar to arrays in other programming languages. When people refer to arrays in Python, they often mean lists, even though there is a numeric array type in Python

True

**Python Tuple**
* a tuple is a collection of data similar to a python list

In [ ]:
numbers =(1,-2,3)
print(numbers)

(1, -2, 3)

In [ ]:
##create a tuple using tuple() constructor
icandoit = tuple((4,5,7,6))
print(icandoit)

(4, 5, 7, 6)

In [ ]:

##Different types of typle
## Empty tuple
empty_tuple =()
print(empty_tuple)

string_type =('anju','venki','Eva')
print(string_type)

##mixed data types
mixed_tuple =(2,'hello','dsdsf')

()
('anju', 'venki', 'Eva')

* tuple characteristics
* ordered
* immutable
* Allow duplicates

In [ ]:
## access tuple item
language = (123,'rebfhef',3884)
print(language[0])

123

In [ ]:
## Tuple cannot be modified
cars = (12123,3455,222,333,5456)
cars[0]
print(len(cars))

5

In [ ]:
for i in cars:
  print(i)

12123
3455
222
333
5456

In [ ]:
## check if an item exists in the tuple
nums = (4434,34435,2232,666)
print(4434 in nums)

True

In [ ]:
##delete the tuple
num = (3444,223,12121,6878)
del num ## num is deleted

In [ ]:
##Creating a tuple with one item
var = ('hello')
print(var)
#But this would not create a tuple; instead, it would be considered a string.
var = ('hello',) this is a tuple

hello

**Python sets**
* A set is a collection of unique data i.e within a set cannot be duplicated
* {}
*A set can have any number of items and they may be of different types (integer, float, tuple, string, etc.).
*cannot have mutable elements like lists, sets or dictionaries as its elements.

In [ ]:
student = {11,22,3343,555,434}
print(student)

## create a set of string type
vowel = {'a','b','c','d'}
print(vowel)

## create a mixed data set
mixed = {'sdsdfs',2323,34,}
print(mixed)

{434, 22, 555, 11, 3343}
{'c', 'd', 'a', 'b'}
{34, 2323, 'sdsdfs'}

* set does not have any particular order
* to create empty set()

In [ ]:
numbers ={2,4,4,6,6,2,8}
print(numbers) ## no duplicate values

## add numbers
numbers.add(40)
print(numbers)

## update python set
a = {2,3,4,5,6,7,8}
b = {8,9,10,11,12,13,14,15}
a.update(b)
print(a)
 ##remove an element from set
d= a.discard(3)
print(a)

{8, 2, 4, 6}
{2, 4, 6, 8, 40}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
## Set operations

**Dictionaries**

**Python classes and objects**
* Object - collection of data and methods
* Class - blue print of objects
*  blueprint of a house is - class
and the house is boject
* Can create many objects from a class
*


```

```

In [ ]:
class classname:
  name = " uma"
  surname = " venki"

In [ ]:
##Python objects
## instance of a class
## classname is a class we create objects
student1 = classname()

In [ ]:
## accessing class attributed using objects
student1.name="anju"
student1.surname

' venki'

In [ ]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

In [ ]:
#Create Multiple Objects of Python Class
# define a class
class Employee:
    # define a property
    employee_id = 0

# create two objects of the Employee class
employee1 = Employee()
employee2 = Employee()

# access property using employee1
employee1.employeeID = 1001
print(f"Employee ID: {employee1.employeeID}")

# access properties using employee2
employee2.employeeID = 1002
print(f"Employee ID: {employee2.employeeID}")

Employee ID: 1001
Employee ID: 1002

** Return statement**
A return statement is used to end the execution of the function call and “returns” the result (value of the expression following the return keyword) to the caller. The statements after the return statements are not executed. If the return statement is without any expression, then the special value None is returned. A return statement is overall used to invoke a function so that the passed statements can be executed.

In [ ]:
def cube(x):
   r=x**3
   return r

In [ ]:
def cube(x):
   r=x**4
   print (r)

In [ ]:
cube(3)

81

In [ ]:
class Solution:
    def arithmeticTriplets(self, nums: List[int], diff: int) -> int:
       count =0
       for i in range(len(nums)):
            for j in range(i+1,len(nums)):
                for k in range (j+1,len(nums)):
                   if nums[i]-nums[j]== diff and nums[j]-nums[k]== diff:
                    count +=1
                    return count

NameError: name 'List' is not defined